:root{
    --color-primary: #518BC0;
    --color-secondary: #17385A;
    --color-background: #39A6D5;
    --color-text: #1F61A2;
    --color-border: #cccccc;
}
header{
    background-color: var(--color-secondary);
    color: var(--color-text);
    padding: 20px;
    text-align: center;
    display: flex;

}
h1{
    font-size: 2.5em;
    margin: 0;
}