h1{
  text-align: center;
  font-size: 2.5em;
}
h2 {
  font-size: 1.8em;
  margin: 16px;
}
body {
  font-family: "Inter", sans-serif;
  background-color: white;
  color: var(--color-text);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.baner {
  width: 100%;
  height: 400px;
  background-size: 100% 100%;
  background-position: center;
  border-radius: 20px 20px 0 0;
}
.desc {
  margin: 16px;
  width: 1000px;
}
.leaderboard {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h3, p{
  margin: 16px;
}
.quiz{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 1000px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.left-panel {
  width: fit-content;
}
.list{
  overflow-y: auto;
  height: 400px;
  color: white;
}
.line {
  width: 100px;
  height: 6px;
  background-color: #0c3b64;
  border-radius: 5px;
  margin-bottom: 20px;
}

.user {
  display: flex;
  align-items: center;
  background-color: #a3c7e4;
  border-radius: 25px;
  padding: 10px 20px;
  margin-bottom: 10px;
  &:first-of-type {
    background-color: #1c5186;
  }
  &:nth-of-type(2) {
    background-color: #1F61A2;
  }
  &:nth-of-type(3) {
    background-color: #5f9dd3;
  }
}

.user img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 15px;
}


.right-panel {
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: center;
  flex: 1;

}

.avatar-container {
  text-align: center;
  border-radius: 5px;
  padding: 10px;
  background-color: white !important;
  position: relative;
}

.avatar-container img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 5px solid #85b3e0;
  object-fit: cover;
}

.avatar-container.first img {
  width: 160px;
  height: 160px;
}

.crown {
  font-size: 32px;
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
}

