<!--@if (!router.url.match('solve')) {-->
<!--  <h1>Quiz</h1>-->
<!--  Nazwa: {{ result?.quiz_name }}-->
<!--  Opis: {{ result?.description }}-->
<!--  Kategoria: {{ result?.category_name }}-->
<!--  <img ngSrc="{{ result?.image }}" alt="Quiz Image" width="1000" height="500">-->
<!--  <button (click)="startQuiz()">Start Quiz</button>-->
<!--  <app-comments [quizId]="quizId"></app-comments>-->
<!--} @else if(router.url.match('solve')) {-->
<!--  <app-quiz-solve></app-quiz-solve>-->
<!--}-->
@defer (when result) {
  <img ngSrc="{{ result?.image }}" alt="Zdjęcie quizu {{ result?.quiz_name }}" width="1000" height="400" class="banner">
  <article>
    <h2>{{ result?.quiz_name }}</h2>
    <div>
      <h3><abbr [title]="'Autor: ' +  result?.username">{{ result?.username }}</abbr></h3>
      <i><abbr [title]="'Kategoria: ' + result?.category_name">{{ result?.category_name }}</abbr></i>
    </div>
    <p>{{ result?.description }}</p>
  </article>
  <button>Rozpocznij quiz</button>
  <hr>
  <div class="leaderboard">
    <section>
      <h3>Top Quizierów</h3>
      <div class="line"></div>
      @if (leaderboard && leaderboard.length > 0) {
        <ol>
        @for (user of leaderboard; track user.username; let i = $index) {
          <li [ngClass]="{'first': i === 0, 'second': i === 1, 'third': i === 2}" [routerLink]="['/user', user.id_user]">
            <img ngSrc="{{ user.avatar }}" alt="{{ user.username }}" width="50" height="50">
            <i>{{ i + 1 }}</i>
            <span>{{ user.username }}</span>
            <b>{{ user.score }} pkt.</b>
          </li>
        }
        </ol>
      } @else {
        <div class="empty">
          <h3>Brak wyników w rankingu.</h3>
          <i>Może Ty będziesz pierwszy?</i>
        </div>
      }
    </section>
    @if (leaderboard && leaderboard.length > 0) {
      <section>@for (user of leaderboard.slice(0,3); track user.username; let i = $index) {
        <div [ngClass]="{'first': i === 0, 'second': i === 1, 'third': i === 2}" [routerLink]="['/user', user.id_user]">
          @if (i === 0) {
            <span><i class="fa-solid fa-crown"></i></span>
          }
          <img ngSrc="{{ user.avatar }}" alt="{{ user.username }}" width="120" height="120">
          <p><strong>{{ user.username }}</strong><br>{{ user.nationality }}</p>
        </div>
      }
      </section>
    }
    </div>
} @placeholder (minimum 500ms) {
  <section class="placeholders">
    <span class="banner"></span>
    <h2></h2>
    <div>
      <h3></h3>
      <i></i>
    </div>
    <p></p>
  </section>
}
