<!--@if (!router.url.match('solve')) {-->
<!--  <h1>Quiz</h1>-->
<!--  Nazwa: {{ result?.quiz_name }}-->
<!--  Opis: {{ result?.description }}-->
<!--  Kategoria: {{ result?.category_name }}-->
<!--  <img ngSrc="{{ result?.image }}" alt="Quiz Image" width="1000" height="500">-->
<!--  <button (click)="startQuiz()">Start Quiz</button>-->
<!--  <app-comments [quizId]="quizId"></app-comments>-->
<!--} @else if(router.url.match('solve')) {-->
<!--  <app-quiz-solve></app-quiz-solve>-->
<!--}-->
<!-- TODO tommorow when kamil p scommituje, zrobic quiz-page. cn. -->
<div class="quiz">
  <div class="baner"></div>
  <h2>Dzierżno Małe</h2>
  <h3>łudki</h3>
  <p>Opis tung tung tung tung tung tung tung tung tung tung tung tung tung tung tung tung tung tung tung tung tung tung tung tung tung tung tungsahur</p>
  <div class="leaderboard">
    tutaj leaderboard
  </div>
  <div>

  </div>
</div>
