h2 {
  margin: 10px 0;
  font-size: 1.8em;
  color: var(--border-color);
}
span {
  font-size: 1.2em;
  margin: 10px 0;
}
select {
  font-size: 1em;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid var(--border-color);
  background-color: var(--background-color);
  width: 100%;
  margin: 0 auto;
}
option {
  font-size: 1em;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid var(--border-color);
  background-color: var(--background-color);
}
textarea {
  transition: outline 150ms ease-in-out;
  font-size: 1.2em;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid var(--border-color);
  background-color: var(--background-color);
  resize: none;
  width: 90%;
  margin: 0 auto;
  height: 200px;
  &:focus {
    outline: 2px solid var(--border-color);
  }
}
input[type="submit"]{
  background-color: var(--accent-color);
  margin: 10px 0;
  font-weight: 500;
  color: var(--white-text-color);
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.2em;
  &:hover {
    background-color: var(--border-color);
  }
}
