input {
  height: 100%;
  width: 70%;
  font-size: 1.4em;
  color: var(--text-color);
}
select {
  max-width: 20%;
  width: 10%;
  min-width: 5%;
  font-size: 1.4em;
  color: var(--text-color);
}
select, option {
  background-color: var(--background-color);
}
button {
  padding: 10px 20px;
}
