@import "../login-page.scss";
h2 {
  font-size: 1.2em;
  color: var(--accent-color);
  font-weight: 300;
  margin: 0 0 25px 0;
}
app-register {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px auto;
}
