@use '../../../assets/scss/index';
section {
  display: flex;
  gap: 25px;
  flex-direction: column;
}
i {
  color: rgba(var(--color-6-rgb), 0.4);
  &.filled {
    color: var(--color-1);
  }
}
.info {
  text-align: center;
  margin: 50px 0;
  color: var(--color-1);
  font-size: 1.5em;
}
form {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  & > div:first-of-type {
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: space-between;
  }
  button {
    align-self: flex-start;
    width: fit-content;
    background-color: var(--color-1);
    color: var(--color-7);
    padding: 10px 20px;
    margin: 10px 0;
    border-radius: index.$border-10;
    transition: index.transition(background-color, index.$medium);
    &:hover {
      background-color: var(--color-2);
    }
  }
  textarea {
    border-bottom: rgba(var(--color-6-rgb), 0.5) solid 1px;
    resize: none;
    width: 80%;
    height: fit-content;
  }
  i {
    font-size: 1.5em;
    transition: index.transition(color, index.$medium);
    cursor: pointer;
    &:hover {
      color: var(--color-1);
    }
  }
}
article {
  border: 1px solid rgba(var(--color-6-rgb), 0.3);
  padding: 10px;
  border-radius: index.$border-20;
  background-color: var(--color-7);
  box-shadow: index.$box-shadow;
  h3 {
    color: var(--color-1);
  }
  time {
    font-weight: 300;
    color: var(--color-2);
  }
  & > div {
    &:first-of-type {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-bottom: 10px;
      & > div > div {
        display: flex;
        align-items: center;
        &:first-of-type {
          gap: 10px;
          margin-bottom: 5px;
        }
        &:last-of-type {
          gap: 3px;
        }
      }
    }
  }
  img {
    border-radius: 50%;
  }
}
