<section>
  <h2>Top Quizy Dzisiaj</h2>
  @if (quizzes?.length === 0) {
    <p>Nikt nie stworzył dzisiaj quizów. 🥀🥀🥀🥀🥀🥀🥀🥀🥀🥀🥀</p>
  }
  <div>
    @for (quiz of quizzes; track quiz.id_quiz) {
      <article routerLink="quiz/{{quiz.id_quiz}}">
        <img ngSrc="{{ quiz.image }}" alt="Zdjęcie do {{ quiz.quiz_name }}" width="40" height="50" priority>
        <span>{{ quiz.category_name }}</span>
        <h3>{{ quiz.quiz_name }}</h3>
      </article>
    }
  </div>
</section>
<section>
  <h2>Najpopularniejsze w tym tygodniu</h2>
  @if (quizzesWeekend?.length === 0) {
    <p>Nikt nie stworzył quizów w ostatnich 7 dniach. 🥀🥀🥀🥀🥀🥀🥀🥀🥀</p>
  }
  <div>
    @for (quiz of quizzesWeekend; track quiz.id_quiz) {
      <article routerLink="quiz/{{ quiz.id_quiz }}">
        <img ngSrc="{{ quiz.image }}" alt="Zdjęcie do {{ quiz.quiz_name }}" width="40" height="50" priority>
        <span>{{ quiz.category_name }}</span>
        <h3>{{ quiz.quiz_name }}</h3>
      </article>
    }
  </div>
</section>
