<section>
  <h2>Top Quizy Dzisiaj</h2>
  <div>
    @defer (when quizzes) {
      @for (quiz of quizzes; track quiz.id_quiz) {
        <article routerLink="quiz/{{quiz.id_quiz}}">
          <img ngSrc="{{ quiz.image }}" alt="Zdjęcie do {{ quiz.quiz_name }}" width="40" height="50" priority>
          <span>{{ quiz.category_name }}</span>
          <h3>{{ quiz.quiz_name }}</h3>
        </article>
      } @empty {
        <p>Brak quizów z dziś.</p>
      }
    } @placeholder (minimum 500ms) {
      @for (i of [1,2,3]; track i) {
        <article class="placeholder">
          <div></div>
          <span></span>
          <span></span>
        </article>
      }
    } @error {
      <p><b>Wystąpił błąd podczas ładowania danych.</b></p>
    }
  </div>
</section>
<section>
  <h2>Najpopularniejsze w tym tygodniu</h2>
  <div>
    @defer (when quizzesWeekend) {
      @for (quiz of quizzesWeekend; track quiz.id_quiz) {
        <article routerLink="quiz/{{ quiz.id_quiz }}">
          <img ngSrc="{{ quiz.image }}" alt="Zdjęcie do {{ quiz.quiz_name }}" width="40" height="50" priority>
          <span>{{ quiz.category_name }}</span>
          <h3>{{ quiz.quiz_name }}</h3>
        </article>
      } @empty {
        <p>Brak quizów z tego tygodnia.</p>
      }
    } @placeholder (minimum 500ms) {
      @for (i of [1,2,3]; track i) {
        <article class="placeholder">
          <div></div>
          <span></span>
          <span></span>
        </article>
      }
    } @error {
      <p><b>Wystąpił błąd podczas ładowania danych.</b></p>
    }
  </div>
</section>
@if (isLoggedIn) {
  <section>
    <h3>Stwórz swój własny quiz!</h3>
    <p>Przetestuj nasz nowy kreator quizów i stwórz quiz na miarę swoich potrzeb. Zachwyć znajomych swoją wiedzą i zaproś ich do korzystania z Quizolandii</p>
    <button routerLink="/create-quiz">Stwórz quiz <i class="fa-solid fa-plus"></i></button>
  </section>
}
