@use '../../assets/scss/index';
section {
  & > div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
    column-gap: 30px;
  }
  h2 {
    display: inline-block;
    font-size: var(--font-32);
    width: fit-content;
    padding-right: 50px;
    padding-bottom: 10px;
    border-bottom: 5px solid var(--color-10);
    margin: 25px 0;
  }
}
article {
  display: grid;
  grid-template-rows: auto 1fr;
  border-radius: index.$border-32;
  min-height: 216px;
  &.placeholder {
    cursor: wait;
    animation: none;
    background-color: var(--color-2);
    @include index.box-shadow;
    & > * {
      animation: placeholder 1.5s alternate infinite;
    }
    div {
      border-radius: index.$border-32 index.$border-32 0 0;
      width: 100%;
      height: 150px;
    }
    span {
      place-self: center start;
      border-radius: index.$border-10;
      margin-left: 15px;
      height: 20px;
      &:first-of-type {
        width: 30%;
      }
      &:nth-of-type(2) {
        width: 50%;
        margin-bottom: 10px;
      }
    }
  }
}
