@use 'assets/scss/index';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  will-change: transition;
}
html, body, app-root {
  height: 100%;
}
body {
  font-family: 'Inter', sans-serif;
  background-color: var(--color-5);
  color: var(--color-6);
}
app-root {
  display: flex;
  flex-direction: column;
}
app-home {
  display: block;
  width: 70%;
  margin: 0 auto;
}
app-quiz-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  border-radius: index.$border-10;
  box-shadow: index.$box-shadow;
}
app-login, app-register {
  box-shadow: index.$box-shadow;
  border: 2px solid var(--color-1);
  border-radius: 20px;
  background-color: var(--color-7);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  margin: auto;
}
input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  background-color: inherit;
  border: none;
  outline: none;
}
button {
  cursor: pointer;
}
a {
  text-decoration: none;
  color: inherit;
}
ul, ol, menu {
  list-style-type: none;
  display: flex;
}
abbr {
  text-decoration: none;
}
.fa-solid {
  font-family: 'Font Awesome 6 Free', ui-sans-serif;
}
.placeholder {
  animation: placeholder 1.5s infinite;
}
@keyframes placeholder {
  0% {
    background-color: rgba(var(--color-7-rgb), 0.3);
  }
  50% {
    background-color: rgba(var(--color-7-rgb), 0.5);
  }
  100% {
    background-color: rgba(var(--color-7-rgb), 0.3);
  }
}
