:root {
  --border-color: #17385A;
  --accent-color: #1F61A2;
  --secondary-color: #39A6D5;
  --primary-color: #518BC0;
  --background-color: #FAFAFA;
  --text-color: #212121;
  --white-text-color: #FAFAFA;
  --gradient-text-color: #BDAFBB;
  --white-color: #FAFAFA;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Inter', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}
a {
  text-decoration: none;
  transition: color 150ms ease-in-out;
  will-change: transition;
  color: inherit;
  &:hover {
    text-decoration: underline;
  }
}
input, textarea, select, option, button {
  border: 0;
  outline: 0;
  color: inherit;
  font-family: inherit;
  background-color: transparent;
  &:placeholder-shown {
    font-style: italic;
    color: var(--gradient-text-color) !important;
  }
}
button {
  cursor: pointer;
  will-change: transition;
  transition: background-color 150ms ease-in-out;
}
input {
  will-change: transition;
  transition: all 150ms ease-in-out;
}
app-login, app-register {
  box-shadow: 10px 10px 26px -18px rgba(0,0,0,0.75);
  border: 2px solid var(--border-color);
  border-radius: 20px;
  background-color: var(--white-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  margin: 10px auto;
}
app-contact {
  border-radius: 20px;
  width: 30%;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--white-color);
  box-shadow: 10px 10px 26px -18px rgba(0,0,0,0.75);
}
