a {
  color: var(--accent-color);
}
footer {
  margin-top: 10px;
  padding: 10px 15px;
  background-color: var(--border-color);
  color: var(--white-text-color);
}
app-contact {
  border-radius: 20px;
  width: 30%;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--white-color);
  box-shadow: 10px 10px 26px -18px rgba(0,0,0,0.75);
}
app-login {
  box-shadow: 10px 10px 26px -18px rgba(0,0,0,0.75);
  border: 2px solid var(--border-color);
  border-radius: 20px;
  background-color: var(--white-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  margin: 10px auto;
}
