@use '../../../assets/scss/index';
nav {
  color: var(--color-7);
  display: flex;
  justify-content: space-between;
  align-items: center;
  a {
    transition: index.transition(color, index.$medium);
    font-weight: 400;
    &:hover {
      color: var(--color-8)
    }
  }
  h1 {
    font-size: var(--font-32);
  }
  menu {
    gap: 40px;
    font-size: var(--font-20);
  }
}
